# Summary notebook

The aim of this notebook is to provide sort of a summary of 
what has been collected and stored in database at the moment

## Table of contents

* Libraries import
* Assets management firms
* Funds

## Libraries import

In [3]:
%load_ext autoreload
%autoreload 2
from fund_app.settings import session_scope
from fund_app.data_model.tables import Firm, Fund
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Assets management firms

We will display all available management firms

In [15]:
with session_scope() as s:
    q = s.query(Firm.name)
    firms_df = pd.read_sql(q.statement, q.session.bind)
    
firms_df

        name
0  Bestinver
1   AZ Valor
2      Cobas

## Funds

We will display for each firm the funds available

In [17]:
with session_scope() as s:
    q = s.query(Fund.name.label('Fund name'), Firm.name.label('Firm name')).join(Fund.firm)
    funds_df = pd.read_sql(q.statement, q.session.bind)
    
funds_df

                   Fund name Firm name
0  AZ Valor International FI  AZ Valor
1         AZ Valor Iberia FI  AZ Valor