# Summary notebook

The aim of this notebook is to provide sort of a summary of 
what has been collected and stored in database at the moment

## Table of contents

* Libraries import
* Assets management firms
* Funds

## Libraries import

In [18]:
%load_ext autoreload
%autoreload 2
import os
import sys
sys.path.insert(0, os.path.abspath('..'))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
from settings import session_scope
from data_model.tables import Firm, Fund
import pandas as pd

## Assets management firms

We will display all available management firms

In [13]:
with session_scope() as s:
    q = s.query(Firm)
    firms_df = pd.read_sql(q.statement, q.session.bind)
    
firms_df

   id       name
0   1  Bestinver
1   5   AZ Valor
2   6      Cobas

## Funds

We will display for each firm the funds available

In [27]:
with session_scope() as s:
    q = s.query(Firm.name.label('Firm name'), Fund.name.label('Fund name'), Fund.isin_code, Fund.id).join(Fund.firm).order_by(Fund.id)
    funds_df = pd.read_sql(q.statement, q.session.bind)
    
funds_df

    Firm name                       Fund name     isin_code  id
0    AZ Valor        AZValor Internacional FI  ES0112611001   1
1    AZ Valor               AZValor Iberia FI  ES0112616000   2
2    AZ Valor           AZValor Blue Chips FI  ES0112609005   3
3       Cobas              Cobas Selección FI  ES0124037005   4
4       Cobas          Cobas Internacional FI  ES0119199000   5
5       Cobas                 Cobas Iberia FI  ES0119184002   6
6       Cobas      Cobas Grandes Compañías FI  ES0113728002   7
7   Bestinver                   Bestinfond FI  ES0114673033   8
8   Bestinver      Bestinver Internacional FI  ES0114638036   9
9   Bestinver              Bestinver Bolsa FI  ES0147622031  10
10  Bestinver  Bestinver Grandes Compañías FI  ES0114561006  11